<h1>Job Index</h1>
<a href="/jobs/new">New Job Posting</a>
<% if @jobs.empty? %>
  <p>No active jobs.</p>
<% else %>
  <% @jobs.each do |job| %>
    <hr />
    <p><%= job.title %></p>
    <p><%= job.description %></p>
  <% end %>
<% end %>

