<h1>List of Companies</h1>

<% @companies.each do |company| %>
<h2> <%= company.name %> </h2>
<p> <img src="<%= company.logo %>" width=30%, height=30%> </p>
<p> <%= company.description %>
<p> <%= %>
<hr>
<% end %>